# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

cad_models
casadi_nmpc
fmincon_nmpc
c_generated_code
build

*.json
*.mat
*.slx

# Debug files
motion_cone.m
my_animate.m
nonlinear_model_simulation.m
pusher_slider_model.m

