# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc
*.slx
simulation_model_closed_loop.slx.r2018b

# Octave session info
octave-workspace

statistics_RAL
test_curvatures
tests

# c-code generation
build/
c_generated_code/
*.json

# .mat
*.mat
*.fig

#.m debug
get_function_smooth.m
optimum_abscissa.m
pusher_slider_model_MPC.m
pusher_slider_model_sym.m
test_optimum_abscissa.m
bspline_symbolic.m
main_variable_shape.m
nmpc_solver.m
robot_main.m
robot_main_original.m
test_acados_model.m
test_optimum_problem_shape_variable.m

#.sh 
run_matlab
run_matlab18_acados
run_matlab22_acados
run_matlab23_acados


